# 建立一个名为deploy的工作流
name: deploy

# 监听 master上的push事件
on:
  push:
    branches: [ main ]
    
# 开始任务
jobs:
  # 建立一个名为 build 的job
  build:
    # 在最新的乌班图环境进行工作
    runs-on: ubuntu-latest

    # 开始设置构建步骤
    steps:
    # 这是github官方的一个action，用于clone该仓库的源码到工作流中，
    - uses: actions/checkout@v2

    # 命名这个步骤为构建Build
    - name: Build
      // 运行 安装和打包任务
      run: npm init -y && npm install axios --save 
